{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-lg-9">
        <div class="d-flex justify-content-between mb-4">
            <h2>Your Budgets</h2>
            <a class="btn btn-success" href="{{ url_for('main.set_budget') }}"><i class="fas fa-credit-card"></i> Add Budget</a>
        </div>
        {% if budgets %}
            <table class="table">
                <thead class="table-info">
                    <tr>
                        <th>Period</th>
                        <th>Amount</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
                     {% for budget in budgets %}
                        <tr>
                            <td>{{ budget.period.capitalize() }}</td>
                            <td>${{ budget.amount }}</td>
                            <td>{{ months[budget.month - 1] }}</td> 
                            <td>{{ budget.year }}</td>
                            <td>
                                <a href="{{ url_for('main.edit_budget', budget_id=budget.id) }}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>Edit</a>
                                <form action="{{ url_for('main.delete_budget', budget_id=budget.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this budget?')">
                                        <i class="fas fa-trash-alt"></i>Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        {% else %}
            <p>No budgets found for this year.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
